# Fichiers de configuration sensibles
.env
firebase-key.json
firebase-realtime-key.json

# Dossiers communs à ignorer
node_modules/
dist/
.vscode/
*.log

# Fichiers système
.DS_Store
Thumbs.db
